## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
country=['A','B','C','D','E']
population=np.random.randint(0, 23000000, 5)

In [3]:
data = {'國家':country ,
        '人口':population }
df = pd.DataFrame(data)
df

  國家        人口
0  A    577257
1  B  10703461
2  C   9508871
3  D   4538405
4  E  10237183

In [4]:
df.max()

國家           E
人口    10703461
dtype: object